.cap-graph-builder {
  display: flex;

  .cap-graph-builder-element {
    svg {
      g {
        body {
          position: fixed;
        }
      }
    }
  }
}
.delete-block-modal {
  .ant-modal-content {
    margin-top: 130px;
    .ant-modal-close{
      margin-top: 8px;
    }
    .ant-modal-title {
      margin-top: 10px;
    }
  }
}

.join-row{
  margin-top: 8px;
  margin-bottom: -16px;
}