$capConditionNumber: cap-condition-number;
$capConditionMultiSelect: cap-condition-multi-select;
$capConditionMultiTreeSelect: cap-multi-tree-select-v2;

.#{$capConditionNumber}{
  display: contents;
  margin: 0;
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
  }

  input.ant-input {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.#{$capConditionMultiSelect}{
  margin: 0;
  .cap-multi-select-v2-selection {
    height: 32px;
  }
}

.cap-condition-popover-display{
  margin: 0;
  width: 190px !important;
  height: 33px !important;
}

.cap-condition-popover-tree-multiselect {
  width: 324px !important;
}

.cap-condition-wrapper {
  .condition-prefix, .condition-suffix{
    height: 44px;
    display: flex;
    align-items: center;
  }
}