$capConditionNumber: cap-condition-number;

.#{$capConditionNumber}{
  display: contents;
  margin: 0;
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
  }

  input.ant-input {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.cap-condition-wrapper {
  .condition-prefix, .condition-suffix{
    height: 44px;
    display: flex;
    align-items: center;
  }
}