@import '../styles/_variables.scss';

.cap-timepicker-v2{
    .ant-time-picker-input{
        height: 40px;
    padding: 6px 11px;
    }
    .ant-time-picker-clock-icon {
        color:rgb(9, 30, 66);
    }
}