@import "../styles/_variables.scss";

$slidebar : cap-slider-v2;

.ant-slider.#{$slidebar} {
    .ant-slider-handle.ant-tooltip-open{
        background-color:map-get($CAP_PRIMARY, base);
    }
    
    .ant-slider-handle{
        background-color:map-get($CAP_PRIMARY, base);
        border: 0px !important;
        box-shadow: 0px 0px 0px 7px map-get($CAP_PRIMARY, disabled);
        margin-left: -7px !important;
        margin-top: -3px !important;
        width:9px;
        height: 9px;
    }
    
    .ant-slider-rail{
        background-color:map-get($CAP_PRIMARY, base);
    }
    .ant-slider-track{
        background-color:map-get($CAP_PRIMARY, base);
    }
    
    .ant-slider-step{
        height:2px;
    }
    width:240px;
        margin:40px;
}
.ant-slider.ant-slider-disabled.#{$slidebar}{
    .ant-slider-track{
        background-color:$FONT_COLOR_04 !important;
    }
    .ant-slider-handle.ant-tooltip-open{
        background-color:$FONT_COLOR_04;
    }
    .ant-slider-rail{
        background-color:$FONT_COLOR_04;
    }
    .ant-slider-handle{
        background-color:$FONT_COLOR_02;
        box-shadow:0px 0px 0px 7px $FONT_COLOR_04;
    }
    
}
