$max-levels: 5;
// widths
$left-border-width: 60px;
$nav-content-width: 228px;
$total-width: 288px;

// colors
$text-color: rgb(9, 30, 66);
$white-background: rgb(250, 251, 252);
$pale-grey: rgb(235, 236, 240);
$blue-grey: rgb(151, 160, 175);
$light-grey: rgb(244, 245, 247);
$shadow-color: rgba(9, 30, 66, 0.25);
$state-selected-color: rgb(71, 175, 70);
$blue-color: rgb(36, 102, 234);
$blue-bg-color: rgb(233, 240, 254);

.cap-collapsible-nav {
  position: fixed;
  left: 0;
  z-index: 10;
  background: white;
  border-left: $left-border-width solid $light-grey;
  box-shadow: 2px 0 5px -2px $shadow-color;
  height: 100vh;
  width: $total-width;
  &.expanded {
    transition: width 200ms ease;
    .cap-row-v2 {
      &.controls {
        .cap-column-v2.icon-column {
          .switcher {
            transition: margin 200ms ease;
          }
        }
      }
      .cap-column-v2.icon-column {
        .icon-container {
          width: calc(#{$left-border-width} - 2px);
        }
      }
    }
  }
  &.collapsed {
    width: $left-border-width;
    .cap-row-v2.controls {
      .cap-column-v2.icon-column {
        .switcher {
          margin-left: calc(#{$total-width} - 255px);
          padding: 0 1px;
          img {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  .leaf-item {
    height: 40px;
    padding: 10px 16px;
    .text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 96%;
      display: inline-block;
    }
    cursor: pointer;
    &:hover {
      background: $pale-grey;
    }
    &.popover-trigger {
      position: relative;
      img {
        color: inherit;
        font-style: normal;
        line-height: 0;
        text-align: center;
        text-transform: none;
        vertical-align: -0.125em;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        top: 50%;
        left: initial;
        right: 12px;
        display: inline-block;
        font-size: 12px;
        transform: translateY(-50%);
      }
    }
    &.expanded {
      background: $pale-grey;
    }
    &.state-selected {
      background: $blue-bg-color !important;
      color: $blue-color !important;
    }
    &.state-selected.first-level {
      border-left: 2px solid $text-color;
    }
  }
  @for $i from 0 through $max-levels {
    div.ant-collapse.data-level-#{$i} {
      .ant-collapse-item {
        .ant-collapse-header {
          padding-left: calc(#{$i} * 14px + 14px);
        }
      }
    }
    div.leaf-item.data-level-#{$i} {
      padding-left: calc(#{$i} * 14px + 14px);
    }
  }
  .ant-collapse {
    .ant-collapse-item {
      border-bottom: none;
      .ant-collapse-header {
        height: 40px;
        padding: 8px 16px;
        .ant-collapse-arrow {
          right: 12px;
        }
      }
      .ant-collapse-content {
        border-radius: 0;
        .ant-collapse-content-box {
          .leaf-item,
          .ant-collapse {
            margin-top: 3px;
          }
        }
      }
      &:hover,
      &.ant-collapse-item-active {
        .ant-collapse {
          .ant-collapse-header {
            border-left: none;
          }
          &.state-selected {
            .ant-collapse-header {
              border-left: none !important;
            }
          }
        }
      }
      .ant-collapse-content.ant-collapse-content-active {
        .ant-collapse-content-box {
          padding: 0;
        }
      }
    }
  }
  .cap-row-v2 {
    display: flex;
    margin-left: calc(-#{$left-border-width});
    .cap-column-v2 {
      min-width: 0;
      display: flex;
    }
    .cap-column-v2.menu-item {
      flex: $nav-content-width;
      flex-direction: column;
      &.expanded {
        opacity: 1;
        transition: opacity 1.2s ease;
      }
      &.collapsed {
        opacity: 0;
        pointer-events: none;
        > * {
          display: none;
        }
      }
    }
    .cap-column-v2.icon-column {
      flex: $left-border-width;
      flex-direction: column;
      background: $light-grey;
      color: $white-background;
      min-height: 48px;
      .icon-container {
        width: calc(#{$left-border-width} - 1px);
        padding: 8px 19px;
        margin: 2px;
        cursor: pointer;
        height: 37px;
        &.state-selected {
          border-right: 2px solid $text-color !important;
        }
      }
    }
  }
  .cap-row-v2.controls {
    height: 28px;
    .cap-column-v2.icon-column {
      padding: 10px 0 10px 14px;
      .switcher {
        box-shadow: 2px 1px 5px 0 $shadow-color;
        border: 1px solid $pale-grey;
        border-radius: 50%;
        cursor: pointer;
        height: 24px;
        width: 24px;
        background: $white-background;
        padding: 0 1px;
        margin-left: calc(#{$total-width} - 28px);
        z-index: 100003;
        img {
          height: 22px;
          width: 22px;
          transform: rotate(180deg);
        }
        &:hover {
          background: $blue-bg-color;
        }
      }
    }
  }
  .cap-row-v2.create-new {
    margin-top: 6px;
    margin-bottom: 6px;
    .cap-column-v2.icon-column {
      .icon-container {
        padding: 7px 6px;
      }
    }
    .cap-column-v2.menu-item {
      padding: 2px 16px 6px;
      .cap-button-v2 {
        box-shadow: 0 1px 1px 0 $shadow-color;
        width: 100%;
        img {
          margin-right: 6px;
        }
      }
    }
  }
  .cap-row-v2.divider {
    .cap-column-v2.icon-column {
      min-height: 16px;
      height: 16px;
    }
    .cap-column-v2.menu-item {
      padding: 0 6px;
      .cap-divider-v2 {
        margin: 8px 0;
      }
    }
  }
}

.cap-popover-v2.nav-popover {
  padding-top: 0 !important;
  .ant-popover-arrow {
    display: none;
  }
  .ant-popover-inner-content {
    padding: 0;
  }
}
.cap-popover-v2.nav-popover.new-state-popup {
  width: 196px;
  .ant-popover-inner-content {
    .cap-menu-v2.new-state {
      .ant-menu-item.new-state-item {
        margin: 0;
        &:hover {
          color: $text-color;
          background-color: $light-grey !important;
        }
        &.ant-menu-item-selected {
          color: $text-color;
          background-color: unset;
        }
      }
    }
  }
}
.cap-popover-v2.nav-popover.low-level-menu {
  width: 196px;
  padding: 0;
  z-index: 10003;
  .ant-popover-inner-content {
    box-shadow: 0 ​2px 4px $shadow-color;
    .leaf-item {
      height: 40px;
      padding: 10px 16px;
      cursor: pointer;
      &:hover {
        background: $pale-grey;
      }
    }
  }
}
.cap-collapsible-nav.expanded.clicked {
  .switcher {
    padding: 0 !important;
    opacity: 0;
    transition: all 0.3s ease;
    img {
      transform: none !important;
    }
  }
  &.menu-hovered {
    .switcher {
      opacity: 1;
    }
  }
  .controls:hover {
    .switcher {
      opacity: 1;
    }
  }
}
.line {
  max-width: 100%;
  height: 100%;
  margin-left:10px;
  border-bottom: 1px solid #dfe2e7;
  margin-bottom: 10px;
}
