/* Color Palette */
//========================

// Primary colors
$CAP_PRIMARY: (
  base: #47af46,
  hover: #1f9a1d,
  disabled: #a1d8a0
);

// Secondary colors
$CAP_SECONDARY: (
  base: #2466ea,
  light: rgba(#2466ea, 0.1)
);

// Custom colors
$CAP_ORANGE: #f87d23;
$CAP_YELLOW: #fec52e;
$CAP_YELLOW01:#e8bc25;
$CAP_BLUE: #23cccc;
$CAP_PURPLE: #8517e5;
$CAP_PINK: #e51fa3;
$CAP_RED: #ea213a;
$CAP_ICON: #7a869a;
$CAP_PALE_GREY : #e9f0fe;
$CAP_BLUE01: #2466eb;
$CAP_RED01: #e51fa3;
$CAP_RED02: #f5222d;
$CAP_PURPLE01:#6563ff;
// Grey colors
$CAP_G01: #091e42;
$CAP_G02: #253858;
$CAP_G03: #42526e;
$CAP_G04: #5e6c84;
$CAP_G05: #97a0af;
$CAP_G06: #b3bac5;
$CAP_G07: #dfe2e7;
$CAP_G08: #ebecf0;
$CAP_G09: #f4f5f7;
$CAP_G10: #fafbfc;
$CAP_G11: #7a869a;
$CAP_G12: #e8e8e8;
$CAP_G13: #ecece7;
$CAP_G14: #e9f0fd;
$CAP_G15: #efefef;
$CAP_G16: #2a2a2a;

$CAP_WHITE: #ffffff;

$CAP_COLOR_01: #dbefda;
$CAP_COLOR_02: #fee5d3;
$CAP_COLOR_03: #e83135;
$CAP_COLOR_04: #fff4d6;
$CAP_COLOR_05: #fbd3d8;
$CAP_COLOR_06: #42B040;
$CAP_COLOR_07: #E9F0FC;
$CAP_COLOR_08: #faf9f4;
$CAP_COLOR_09: #7765d5;
$CAP_COLOR_10: #f79600;
$CAP_COLOR_11: #2388de;
$CAP_COLOR_12: #efba00;
$CAP_COLOR_13: #bcd0fa;
$CAP_COLOR_14: #9BC79A;
$CAP_COLOR_15: #F6BA8E;
$CAP_COLOR_16: #d9d9d9;
$CAP_COLOR_17: #1d61ee;

/* Fonts */
// ==============
$FONT_FAMILY: "Roboto", sans-serif; //arial
$FONT_WEIGHT_REGULAR: 400;
$FONT_WEIGHT_MEDIUM: 500;

// Font colors
$FONT_COLOR_01: #091e42;
$FONT_COLOR_02: #5e6c84;
$FONT_COLOR_03: #97a0af;
$FONT_COLOR_04: #b3bac5;
$FONT_COLOR_05: #2466ea;
$FONT_COLOR_06: #ffffff;

// Font sizes
$FONT_SIZE_VL: 24px;
$FONT_SIZE_L: 16px;
$FONT_SIZE_M: 14px;
$FONT_SIZE_S: 12px;
$FONT_SIZE_VS: 10px;

// Icon sizes
$ICON_SIZE_XS: 12px;
$ICON_SIZE_S: 16px;
$ICON_SIZE_M: 24px;
$ICON_SIZE_L: 32px;

// Sizes & Spacings (1rem === 14px as base font size of root is 14px)

$CAP_SPACE_04: 0.285rem;
$CAP_SPACE_06: 0.428rem;
$CAP_SPACE_08: 0.571rem;
$CAP_SPACE_12: 0.857rem;
$CAP_SPACE_16: 1.142rem;
$CAP_SPACE_19: 1.3rem;
$CAP_SPACE_20: 1.428rem;
$CAP_SPACE_23: 1.614rem;
$CAP_SPACE_24: 1.714rem;
$CAP_SPACE_28: 2rem;
$CAP_SPACE_32: 2.285rem;
$CAP_SPACE_36: 2.571rem;
$CAP_SPACE_40: 2.857rem;
$CAP_SPACE_42: 3rem;
$CAP_SPACE_44: 3.142rem;
$CAP_SPACE_48: 3.428rem;
$CAP_SPACE_52: 3.714rem;
$CAP_SPACE_56: 4rem;
$CAP_SPACE_60: 4.286rem;
$CAP_SPACE_64: 4.571rem;
$CAP_SPACE_72: 5.143rem;
$CAP_SPACE_80: 5.714rem;


// Background Colors
$BG_01: #faf9f4;
$BG_02: #fefcf0;
$BG_03: #ebf8ff;