@import "./variables.scss";

$datePicker: cap-date-picker-common-v2;
$rangePicker: cap-date-range-picker-v2;

.#{$datePicker} {
  .ant-calendar-picker-input.ant-input:focus,
  .ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled),
  .ant-calendar-picker:focus .ant-calendar-picker-input:not(.ant-input-disabled) {
    border-color: $CAP_G06;
    box-shadow: none;
  }
  .ant-input-lg {
    font-size: $FONT_SIZE_M;
    line-height: $CAP_SPACE_20;
    color: $FONT_COLOR_01;
  }
  &:hover {
    color: $CAP_G11;
  }
  .ant-calendar-range-picker-separator {
    vertical-align: middle;
    min-width: initial;
  }
  .ant-calendar-picker.ant-calendar-picker-large {
    .ant-calendar-picker-icon,
    .ant-calendar-picker-clear {
      top: 35%;
      width: auto;
      height: auto;
      right: 8px;
    }
    .ant-calendar-picker-clear {
      font-size: 20px;
      top: 40%;
      right: 10px;
    }
  }
}

.ant-calendar-picker-container.#{$datePicker}-dropdown {
  .ant-calendar-cell:not(.ant-calendar-disabled-cell) .ant-calendar-date {
    border-radius: 50%;
    font-size: $FONT_SIZE_S;
  }

  .ant-calendar-range .ant-calendar-body,
  .ant-calendar-range .ant-calendar-month-panel-body,
  .ant-calendar-range .ant-calendar-year-panel-body {
    border-top: none;
  }
  .ant-calendar-date {
    transition: none;
  }
  .ant-calendar-cell:not(.ant-calendar-disabled-cell):not(.ant-calendar-in-range-cell) {
    .ant-calendar-date {
      &:hover {
        background-color: map-get($CAP_SECONDARY, light);
      }
    }
    &.ant-calendar-selected-date .ant-calendar-date:hover,
    &.ant-calendar-selected-start-date .ant-calendar-date:hover,
    &.ant-calendar-selected-end-date .ant-calendar-date:hover,
    &.ant-calendar-selected-date .ant-calendar-date,
    &.ant-calendar-selected-start-date .ant-calendar-date,
    &.ant-calendar-selected-end-date .ant-calendar-date {
      background-color: map-get($CAP_SECONDARY, base);
      font-weight: 500;
      color: $CAP_WHITE;
    }
  }

  .ant-calendar-range {
    .ant-calendar-in-range-cell:before,
    .ant-calendar-date:hover {
      background-color: #f4f5f7;
    }
  }

  .ant-calendar-cell.ant-calendar-today:not(.ant-calendar-disabled-cell) .ant-calendar-date,
  &.#{$rangePicker}-dropdown .ant-calendar-cell.ant-calendar-today.ant-calendar-selected-date:not(.ant-calendar-disabled-cell) .ant-calendar-date {
    color: $FONT_COLOR_05;
    border-color: map-get($CAP_SECONDARY, base);
    background-color: $CAP_WHITE;
  }

  .ant-calendar-column-header {
    font-size: $FONT_SIZE_VS;
    color: #97a0af;
  }
  .ant-calendar-body > .ant-calendar-table thead tr th:first-child,
  .ant-calendar-body > .ant-calendar-table thead tr th:last-child {
    color: #e83135;
  }
}
