@import '../styles/_variables.scss';

.dnd-graph-sidebar-container{
    background: $CAP_G10;
    width: 240px;
    height: 100%;
    display: inline-block;
    padding: 15px $CAP_SPACE_24;
    overflow: auto;

    .title-row {
        display: flex;

        .info-icon {
            display: flex;
            align-items: center;
            margin-left: $CAP_SPACE_04;
        }
    }

    .category-container {
        margin: $CAP_SPACE_16 0;

        .icons-container {
            display: flex;
            flex-wrap: wrap;

            .node-container {
                width: calc(100% / 3);
                text-align: center;
                margin: $CAP_SPACE_04 0;

                .cap-icon-background {
                    padding: 9px;
                }

                .node-label {
                    white-space: nowrap;
                    align-items: center;
                    display: inline-block;
                    white-space: normal;
                }
            }
        }
    }
}