@import "../styles/_variables.scss";

$selectPrefix: cap-custom-select;

.#{$selectPrefix}-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0px 0px 0px $CAP_SPACE_08;
  height: $CAP_SPACE_40;
  border: 1px solid transparent;
  border-radius: $CAP_SPACE_04;
  border: 1px solid $CAP_G06;
  &:hover {
    border: 1px solid $CAP_G11;
  }
  &.open {
    border: 1px solid $CAP_G01;
  }
  &.selection-disabled {
    background-color: $CAP_G08;
    pointer-events: none;
  }
  &.type-tag {
    height: auto;
    padding: 0px 0px $CAP_SPACE_04 $CAP_SPACE_04;
    min-height: $CAP_SPACE_40;
  }
  .#{$selectPrefix}-selected-value {
    font-size: $FONT_SIZE_L;
    font-weight: $FONT_WEIGHT_MEDIUM;
    overflow: hidden;
  }
  .selected-value-label-disabled {
    color: $CAP_G04;
  }
  .#{$selectPrefix}-selected-tag {
    margin: $CAP_SPACE_04 $CAP_SPACE_04 0px 0px;
    max-width: 100%;
  }
  .#{$selectPrefix}-arrow {
    margin-right: $FONT_SIZE_S;
  }
}

.#{$selectPrefix}-header {
  padding: 0 $FONT_SIZE_M $CAP_SPACE_20 $FONT_SIZE_M;
  font-size: $FONT_SIZE_M;
  font-weight: $FONT_WEIGHT_MEDIUM;
}

.#{$selectPrefix}-select-item {
  padding: $CAP_SPACE_08 $CAP_SPACE_08 $CAP_SPACE_08 $CAP_SPACE_24;
  cursor: pointer;
  &:hover {
    background-color: $BG_01;
  }
  &.selected {
    font-weight: $FONT_WEIGHT_MEDIUM;
    color: map-get($CAP_SECONDARY, base);
    position: relative;
    background-color: map-get($CAP_SECONDARY, light);
    &:before {
      content: " ";
      width: 2px;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      background-color: map-get($CAP_SECONDARY, base);
    }
  }
}

.#{$selectPrefix}-popover {
  padding-top: 0;

  *:focus {
    outline: 0;
  }

  .ant-popover-inner-content {
    padding-left: 0;
    padding-right: 0;
  }
  .ant-popover-arrow {
    display: none;
  }
  .#{$selectPrefix}-search {
    padding: 0 $FONT_SIZE_M $FONT_SIZE_M $FONT_SIZE_M;
  }
  .#{$selectPrefix}-items-wrapper {
    overflow-y: auto;
    max-height: 200px;
  }
  .#{$selectPrefix}-no-results {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .#{$selectPrefix}-no-results-text {
      margin-top: $CAP_SPACE_08;
      text-align: center;
      color: $CAP_G05;
      font-size: $FONT_SIZE_S;
    }
  }
}
