@import "../styles/_variables.scss";

$slideBox: "cap-slide-box-v2";

.#{$slideBox}.show-shadow {
  .slidebox-header {
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.12);
  }
  .slidebox-footer {
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.12);
  }
}

.#{$slideBox} {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.56);
  z-index: 100;

  &.hide-slidebox {
    visibility: hidden;
    opacity: 0;
    transition-delay: 0s;
  }
  &.show-slidebox {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s linear 0.33s, opacity 0.33s linear;
  }
}

.#{$slideBox}-container {
  position: absolute;
  height: 100vh;
  background: rgba(255, 255, 255, 1);
  overflow-y: auto;
  .slidebox-header {
    padding: 0 $CAP_SPACE_48;
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 92px;
    position: relative;
    z-index: 1;
  }
  .slidebox-footer {
    padding: 0 $CAP_SPACE_48;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 88px;
  }
  .slidebox-content-container {
    padding: 0 $CAP_SPACE_48;
    overflow-y: auto;
    height: calc(100vh - 92px);
    &.has-footer {
      height: calc(100vh - 92px - 88px);
    }
  }
}

.#{$slideBox}-container.size-r {
  min-width: 660px;
  max-width: 800px;
  width: 50vw;
}

.#{$slideBox}-container.size-s {
  min-width: 372px;
  max-width: 400px;
  width: 25vw;
  .slidebox-header {
    padding: 0 $CAP_SPACE_24;

  }
  .slidebox-footer {
    padding: 0 $CAP_SPACE_24;

  }
  .slidebox-content-container {
    padding: 0 $CAP_SPACE_24;

  }
}

.#{$slideBox}-container.size-l {
  min-width: 948px;
  max-width: 1140px;
  width: 75vw;
}

.#{$slideBox}-container.left {
  left: 0;
}

.#{$slideBox}-container.right {
  right: 0;
}

.#{$slideBox}-container.size-xl {
  min-width: 1180px;
  max-width: 1280px;
  width: 1180px;
}
