@import "../styles/_variables.scss";

$clsPrefix: cap-navbar;
$orgSelectPrefix: top-bar-select;

.#{$clsPrefix} {
  a,
  a:hover,
  a:visited,
  a:focus {
    text-decoration: none;
    color: $CAP_G01;
  }
}
.ant-layout-header.#{$clsPrefix}-header {
  background-color: #ffffff;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
}

.#{$clsPrefix}-divider {
  height: $CAP_SPACE_20;
  align-self: center;
}

.#{$orgSelectPrefix}-selection {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0px 0px 0px 8px;
  margin: 0 0 0 20px;
  height: 48px;
  border: 1px solid transparent;
  &.open {
    border-radius: 4px;
    border: 1px solid $CAP_G06;
  }
  &.secondary-select {
    margin-left: 0;
  }
}

.#{$orgSelectPrefix}-selected-value {
  font-size: 16px;
  font-weight: $FONT_WEIGHT_MEDIUM;
  display: flex;
  align-items: center;
}

.#{$orgSelectPrefix}-selected-value-label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 120px;
}

.#{$clsPrefix}-menu {
  margin-right: $CAP_SPACE_48;
}

.ant-menu-item.#{$clsPrefix}-menu-item {
  &.ant-menu-item {
    color: $CAP_G04;
  }
  &.ant-menu-item-selected {
    font-weight: $FONT_WEIGHT_MEDIUM;
  }
  &.ant-menu-item-selected,
  &.ant-menu-item:hover {
    color: $CAP_G01;
    border-bottom: 2px solid $CAP_G01;
  }
}

.#{$clsPrefix}-setting {
  margin: 0 8px;
  cursor: pointer;
  img {
    width: $CAP_SPACE_20;
  }
}
.#{$clsPrefix}-user {
  margin: 0 8px;
  cursor: pointer;
}

.#{$clsPrefix}-user,
.#{$orgSelectPrefix}-selected-icon {
  font-family: $FONT_FAMILY;
  border-radius: 50%;
  background-color: $CAP_G07;
  padding: 0px 10px;
  margin-right: 8px;
  font-weight: $FONT_WEIGHT_MEDIUM;
  height: 32px;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.#{$orgSelectPrefix}-header {
  padding: 0 16px 20px 16px;
  font-size: 14px;
  font-weight: $FONT_WEIGHT_MEDIUM;
}

.#{$orgSelectPrefix}-select-item {
  padding: 8px 8px 8px 24px;
  cursor: pointer;
  &:hover {
    background-color: $BG_01;
  }
  &.selected {
    color: map-get($CAP_SECONDARY, base);
    position: relative;
    background-color: map-get($CAP_SECONDARY, light);
    &:before {
      content: " ";
      width: 2px;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      background-color: map-get($CAP_SECONDARY, base);
    }
  }
}

.#{$orgSelectPrefix}-no-results {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .#{$orgSelectPrefix}-no-results-text {
    margin-top: 8px;
    text-align: center;
    color: $CAP_G05;
    font-size: 12px;
  }
}

.#{$orgSelectPrefix}-popover,
.#{$clsPrefix}-user-popover {
  padding-top: 0;
  width: 260px;
  .ant-popover-inner-content {
    padding-left: 0;
    padding-right: 0;
  }
  .ant-popover-arrow {
    display: none;
  }
}

.#{$orgSelectPrefix}-search {
  position: relative;
  padding: 0 16px 20px 16px;
  input {
    padding: 4px 28px;
    height: 40px;
  }
  .icon-close {
    position: absolute;
    right: 25px;
    top: 20%;
    color: $CAP_ICON;
    width: 18px;
    cursor: pointer;
  }
  .icon-search {
    left: 25px;
    top: 22%;
    position: absolute;
    color: $CAP_ICON;
    width: 14px;
  }
}

.#{$orgSelectPrefix}-items-wrapper {
  overflow-y: auto;
  max-height: 200px;
}

.#{$orgSelectPrefix}-arrow {
  margin-right: 12px;
}

.#{$clsPrefix}-user-popover {
  width: 260px;
}

.#{$clsPrefix}-user-popover-item {
  padding: 8px 8px 8px 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    background-color: $BG_01;
  }
}
