@import "../styles/_variables.scss";

$clsPrefix: cap-navbar;
$orgSelectPrefix: top-bar-select;

.#{$clsPrefix} {
  a,
  a:hover,
  a:visited,
  a:focus {
    text-decoration: none;
    color: $CAP_G01;
  }
}
.ant-layout-header.#{$clsPrefix}-header {
  background-color: $CAP_WHITE;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $CAP_G12;
  width: 100%;
  position: fixed;
  z-index: 100;
  height: $CAP_SPACE_64;
  box-shadow: none;
}

.#{$clsPrefix}-drawer {
  .ant-drawer-header {
    border-bottom: 1px solid $CAP_G07;
    height: $CAP_SPACE_64;
    padding: 0;
  }
  .ant-drawer-body {
    padding: 0;
  }
  .ant-list.cap-list-v2.ant-list-split .ant-list-item {
    border-bottom: 0;
    padding-top: $CAP_SPACE_24;
    padding-bottom: 0;
  }
  .cap-icon-v2-tick {
    padding-top: $CAP_SPACE_04;
    margin-right: $CAP_SPACE_12;
  }
}

.#{$clsPrefix}-menu {
  .ant-dropdown-menu-item {
    line-height: $CAP_SPACE_20;
  }
}

.#{$clsPrefix}-divider {
  height: $CAP_SPACE_20;
  align-self: center;
}

.#{$orgSelectPrefix}-selection {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 0 0 $CAP_SPACE_08;
  margin: $CAP_SPACE_08 0;
  height: $CAP_SPACE_48;
  border: 1px solid transparent;
  &.open {
    border-radius: $CAP_SPACE_04;
    border: 1px solid $CAP_G06;
  }
  &.secondary-select {
    margin-left: 0;
  }
}

.#{$orgSelectPrefix}-selected-value {
  font-size: $FONT_SIZE_L;
  font-weight: $FONT_WEIGHT_MEDIUM;
  display: flex;
  align-items: center;
}

.#{$orgSelectPrefix}-overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.#{$orgSelectPrefix}-selected-value-label {
  max-width: 150px;
}

.#{$orgSelectPrefix}-selected-ou-value-label {
  display: inline-flex;
  align-items: baseline;
  justify-content: space-between;
  width: 150px;
}

.ant-menu.ant-menu-horizontal.#{$clsPrefix}-menu {
  @media screen and (min-width: 1260px) {
    margin-right: 60px;
  }
}

.ant-menu-item.#{$clsPrefix}-menu-item {
  &.ant-menu-item {
    color: $CAP_G04;
  }
  &.ant-menu-item-selected {
    font-weight: $FONT_WEIGHT_MEDIUM;
  }
  &.ant-menu-item-selected,
  &.ant-menu-item:hover {
    color: $CAP_G01;
    border-bottom: 2px solid $CAP_G01;
  }
}

.#{$clsPrefix}-topbarIcon {
  margin: 0 0 0 $CAP_SPACE_32;
}
.#{$clsPrefix}-user {
  @media screen and (min-width: 1260px) {
    margin: 0 $CAP_SPACE_24 0 $CAP_SPACE_60;
  }
  @media screen and (max-width: 1260px) {
    margin: 0 $CAP_SPACE_24 0 $CAP_SPACE_40;
  }
  cursor: pointer;
}

.#{$orgSelectPrefix}-selected-icon {
  margin-right: $CAP_SPACE_08;
}

.#{$clsPrefix}-user,
.#{$orgSelectPrefix}-selected-icon {
  display: flex;
  align-items: center;
  position: relative;
  height: $CAP_SPACE_32;
  width: $CAP_SPACE_32;
  .text-label {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    line-height: 14px;
  }
}
.oval {
  width: $CAP_SPACE_48;
  height: $CAP_SPACE_48;
  background: $CAP_G07;
  border-radius: 50%;
  margin: 0 $CAP_SPACE_16 0 $CAP_SPACE_52;
}

.#{$orgSelectPrefix}-header {
  padding: $CAP_SPACE_08 $CAP_SPACE_16 $CAP_SPACE_20 $CAP_SPACE_16;
  font-size: $FONT_SIZE_M;
  font-weight: $FONT_WEIGHT_MEDIUM;
}

.#{$orgSelectPrefix}-select-item, .#{$orgSelectPrefix}-select-ou-org-item,  .#{$orgSelectPrefix}-select-ou-item {
  cursor: pointer;
  &:hover {
    background-color: $BG_01;
  }
  &.selected {
    color: map-get($CAP_SECONDARY, base);
    font-weight: $FONT_WEIGHT_MEDIUM;
    position: relative;
    background-color: map-get($CAP_SECONDARY, light);
    &:before {
      content: " ";
      width: 2px;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      background-color: map-get($CAP_SECONDARY, base);
    }
  }
}

.#{$orgSelectPrefix}-select-item {
  padding: $CAP_SPACE_08 $CAP_SPACE_08 $CAP_SPACE_08 $CAP_SPACE_24;
}

.#{$orgSelectPrefix}-select-ou-org-item {
  padding: $CAP_SPACE_08 $CAP_SPACE_08 $CAP_SPACE_08 $CAP_SPACE_08;
}

.#{$orgSelectPrefix}-select-ou-item {
  padding: $CAP_SPACE_08 $CAP_SPACE_16 $CAP_SPACE_08 $CAP_SPACE_40;
  display: flex; 
  justify-content: space-between;
  align-items: baseline;
}

.#{$orgSelectPrefix}-no-results {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .#{$orgSelectPrefix}-no-results-text {
    margin-top: 8px;
    text-align: center;
    color: $CAP_G05;
    font-size: $FONT_SIZE_S;
  }
}

.ant-popover.#{$orgSelectPrefix}-popover,
.ant-popover.#{$clsPrefix}-user-popover {
  padding-top: 0;
  width: 260px;
  .ant-popover-inner-content {
    padding-left: 0;
    padding-right: 0;
  }
  .ant-popover-arrow {
    display: none;
  }
}

.#{$orgSelectPrefix}-search {
  padding: 0 $CAP_SPACE_16 $CAP_SPACE_16 $CAP_SPACE_16;
}

.#{$orgSelectPrefix}-items-wrapper {
  // overflow-y: auto;
  max-height: 200px;
}

.#{$orgSelectPrefix}-arrow {
  margin-right: $CAP_SPACE_12;
}

.#{$clsPrefix}-user-popover {
  width: 260px;
}

.#{$clsPrefix}-user-popover-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.#{$clsPrefix}-person {
  z-index: 0;
}

.#{$clsPrefix}-flexDisplay {
  display: flex;
  flex-grow: 1;
}

.#{$clsPrefix}-more-app {
  height: $CAP_SPACE_24;
  width: $CAP_SPACE_24;
  margin: $CAP_SPACE_20 $CAP_SPACE_12 $CAP_SPACE_20 $CAP_SPACE_24;
}

.#{$clsPrefix}-product-title {
  margin: $CAP_SPACE_20 $CAP_SPACE_12 $CAP_SPACE_20 $CAP_SPACE_24;
}

.#{$clsPrefix}-dimensions {
  height: $CAP_SPACE_64;
  width: 240px;
}

.#{$clsPrefix}-heading {
  font-weight: $FONT_WEIGHT_MEDIUM;
}

.#{$clsPrefix}-capitalize {
  text-transform: capitalize;
}