@import '../styles/variables';
    
    .advanced-icon-container {
        position: relative;
        cursor: pointer;
        width: fit-content;
        margin: auto;

            .action-icon-container,
            .error-icon-container {
                position: absolute;
                padding: 0px;

                .cap-icon-v2 {
                    vertical-align: unset;
                }
            }

            .action-icon-container {
                padding: 3px;
                line-height: 0.8;
                border: 2px solid $CAP_WHITE;
            }
            .error-icon-container{
                color: $CAP_RED;
            }
       
            .top-left-action-icon-container {
                top: 0;
                left: 0;
                transform: translate(-50%,-50%);
            }
            .bottom-left-action-icon-container {
                bottom: 0;
                left: 0;
                transform: translate(-50%,50%);
            }
            .top-right-action-icon-container {
                top: 0;
                left: 100%;
                transform: translate(-50%,-50%);
            }
            .bottom-right-action-icon-container {
                bottom: 0;
                left: 100%;
                transform: translate(-50%,+50%);
            }
            .top-center-error-icon-container {
                top: 0;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            &.item-disabled{
                cursor: not-allowed;
            }
    }
    .join-link-row{
        margin-top: -16px;
        display: flex;
        width: fit-content;
        margin-left: -8px;
        .join-link-label{
            max-width: 48px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: 6px;
        }
    }
