@import '../styles/variables';
    
    .advanced-icon-container {
        position: relative;
        cursor: pointer;
        width: fit-content;
        margin: auto;

            .action-icon-container {
                position: absolute;
                padding: 3px;
                line-height: 0.8;
                border: 2px solid $CAP_WHITE;

                .cap-icon-v2 {
                    vertical-align: unset;
                }
            }
       
            .top-left-action-icon-container {
                top: -5px;
                left: -5px;
            }
            .bottom-left-action-icon-container {
                bottom: -5px;
                left: -5px;
            }
            .top-right-action-icon-container {
                top: -5px;
                right: -5px;
            }
            .bottom-right-action-icon-container {
                bottom: -5px;
                right: -5px;
            }
            &.item-disabled{
                cursor: not-allowed;
            }
    }
