@import "../styles/_variables.scss";

$capRadioCardV2: cap-radioCard-v2;
.ant-radio-group.#{$capRadioCardV2} {
  width: 800px;
  .ant-radio-button-wrapper {
    border-radius: 4px;
    width: 372px;
    height: 120px;
    background-color: $CAP_WHITE;
    margin: 6px;
    padding: 0;
    border-top-width: 1px;
  }
  .ant-card-body {
    display: flex;
  }
  .ant-card.ant-card-bordered {
    height: 100%;
    border: none;
  }
  .radio-card-content-container {
    width: 100%;
  }
  .radio-card-content,
  .radio-card-header {
    height: 47px;
    font-size: $FONT_SIZE_S;
    line-height: 1.17;
    letter-spacing: normal;
    color: $CAP_G04;
  }

  .radio-card-header {
    height: 25px;
  }

  .radio-card-icon {
    width: 48px;
    height: 48px;
    object-fit: contain;
    margin-right: $CAP_SPACE_24;
  }

  .radio-card-checked {
    position: absolute;
    right: -6px;
    top: -12px;
    display: none;
  }

  .ant-radio-button-wrapper-checked {
    border-radius: 4px;
    .radio-card-checked {
      display: block;
      z-index: 1;
    }
  }
  .ant-radio-button-wrapper-disabled {
    opacity: 0.5;
  }
  .div-icon {
    position: absolute;
    top: 25%;
    left: 25%;
  }
  .icon-container {
    padding-right: 24px;
    height: 48px;
    width: 48px;
    background-color: $CAP_G07;
    background-size: cover;
    text-decoration: none;
    display: inline-block;
    border-radius: 18px;
    position: relative;
    &.green-color {
      background-color: map-get($CAP_PRIMARY, base);
      .cap-icon-v2 {
        color: $CAP_WHITE;
      }
    }
  }
}
