@import "../styles/_variables.scss";

$capRadioCardV2: cap-radioCard-v2;


.ant-radio-group.#{$capRadioCardV2} {
  .ant-radio-button-wrapper {
    border-radius: $CAP_SPACE_04;
    width: 372px;
    height: 120px;
    background-color: $CAP_WHITE;
    margin: $CAP_SPACE_06;
    padding: 0;
    border-top-width: 1px;
  }
  .ant-card-body {
    display: flex;
    padding: $CAP_SPACE_16;
  }
  .ant-card.ant-card-bordered {
    height: 100%;
    border: none;
  }
  .radio-card-content-container {
    width: 100%;
  }
  .radio-card-content,
  .radio-card-header {
    font-size: $FONT_SIZE_S;
    line-height: 1.17;
    letter-spacing: normal;
    color: $CAP_G04;
    padding-top: 4px;
  }

  .radio-card-icon {
    width: 48px;
    height: 48px;
    object-fit: contain;
    margin-right: $CAP_SPACE_24;
  }

  .radio-card-checked {
    position: absolute;
    right: -6px;
    top: -12px;
    display: none;
  }
  
  .ant-radio-button-wrapper-checked {
    border-radius: 4px;
    .radio-card-checked {
      display: block;
      z-index: 1;
    }
    
  }
  .ant-radio-button-wrapper-disabled {
    opacity: 0.5;
    &.disable-radio-button{
      border:unset;
      .radio-card-checked {
        display: none;
      }
      .ant-card-body{
        padding: unset;
      }
      max-height:75px;
    }
    
  }
  .div-icon {
    position: absolute;
    top: 25%;
    left: 25%;
  }
  .icon-container {
    padding-right: $CAP_SPACE_24;
    height: 48px;
    width: 48px;
    background-color: $CAP_G07;
    background-size: cover;
    text-decoration: none;
    display: inline-block;
    border-radius: 18px;
    position: relative;
    &.green-color {
      background-color: map-get($CAP_PRIMARY, base);
      .cap-icon-v2 {
        color: $CAP_WHITE;
      }
    }
  }
  &.smallRadioCard{
    .ant-card-body{
      padding: $CAP_SPACE_12;  
      height: 48px;
    }
    .icon-container{
      padding-right:unset;
      background-color: unset;
    }
    .radio-card-icon{
      height:$CAP_SPACE_20;
      width:$CAP_SPACE_24;
    }
    .div-icon{
      top:0%;
      left:0%;
    }
    .ant-radio-button-wrapper{
      margin:6px 12px 6px 0px;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}





