@import '../styles/_variables.scss';
.cap-link-v2.ant-anchor-wrapper{
    &.disabled{
        opacity: 0.3;
        pointer-events: none;
    }
    a{
        color:$CAP_G01;
    }
    a:hover{
        color:$CAP_G01;
    }
    .ant-anchor-ink{
        height: 0px;
       
    }
    .ant-anchor-link{
        padding: unset;
    }
    .ant-anchor-ink-active > .ant-anchor-ink-title{
        background-color: none;
    }
    .ant-anchor-ink:before{
        height: 0px;
    }
    background: none;
    .ant-anchor-link-title, .cap-icon-v2-chevron-right, a:hover, .cap-link-v2-suffix .cap-icon-v2  {
        color:map-get($CAP_SECONDARY, base);
    }
    .ant-anchor-link-title{
        display:inline;
    }
    .cap-link-v2-prefix {
        margin-right: $CAP_SPACE_04;
    }
    .cap-link-v2-suffix {
        margin-left: $CAP_SPACE_04;
    }
}