@import '../styles/_variables.scss';
.cap-link-v2.ant-anchor-wrapper{
    a{
        color:$CAP_G01;
    }
    a:hover{
        color:$CAP_G01;
    }
    .ant-anchor-ink{
        height: 0px;
       
    }
    .ant-anchor-link{
        padding: unset;
    }
    .ant-anchor-ink-active > .ant-anchor-ink-title{
        background-color: none;
    }
    .ant-anchor-ink:before{
        height: 0px;
    }
    background: none;
    .ant-anchor-link-title{
        color:map-get($CAP_SECONDARY, base);
    }
    .ant-anchor-link-title{
        display:inline;
    }
    .cap-icon-v2-chevron-right{
        color:map-get($CAP_SECONDARY, base);
    }
    a:hover {
        color:map-get($CAP_SECONDARY, base); }
}