@import '../styles/_variables.scss';
.cap-progress-showcase{
    width:150px;
}

.ant-progress-circle-path {
    stroke: $CAP_PURPLE !important;
}
.ant-progress-bg{
    background-color:$CAP_PURPLE ;
}