@import "../styles/_variables.scss";

$cap-slider: cap-slider-v2;

.#{$cap-slider} {
  .react-colorful {
    width: 100%;
    height: 100%;
  }
  .react-colorful__saturation {
    display: none;
  }
  .react-colorful__last-control {
    border-radius: 2px;
  }
}