@import "../styles/_variables.scss";

.cap-error-boundary {
  @keyframes errorBoundarySlide {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0%);
    }
  }

  .cap-error-boundary-illustration {
    position: relative;
    animation: errorBoundarySlide 0.3s ease;
  }
}
