.cap-carousel-showcase {
  .cap-carousel-v2-wrapper.test {
    margin-bottom: 16px;
    .slick-slide {
      text-align: center;
      height: 160px;
      line-height: 160px;
      background: #364d79;
      overflow: hidden;
    }
    .slick-slide h3 {
      color: #fff;
    }
  }
}
