@import '../styles/_variables.scss';

$clsPrefix: cap-secondary-topbar;

.menu-basics {
    display: flex;
    line-height: unset;
    align-items: center;
    height: 64px;
}
.ant-static-style {
    color: inherit;
    border-bottom: 0;
}
.#{$clsPrefix}-header {
    @extend .menu-basics;
    border-bottom: 1px solid $CAP_G07;
    .actions-menu {   
        @extend .menu-basics;
        margin-left: auto;
        cursor: pointer;
        .ant-menu-item {
            padding: 0;
            &:nth-last-child(2) {
                padding-right: $CAP_SPACE_20;
            }
        }
    }
    .apps-icon{
        vertical-align: baseline;
    }
    .primary-menu{
        width:240px;
        padding-left: $CAP_SPACE_24;
        padding-right: 0;
    }
    .secondary-menu{
        width:160px;
    }
    .ant-menu-item {
        height: 100%;
        display: flex;
        align-items: center;
        .anticon {
            font-size: $FONT_SIZE_VL;
        }
    }
    .vertical-divider{
        height: $CAP_SPACE_20;
        margin: 0;
        background: $CAP_G07;
    }
    &.ant-menu-horizontal, .ant-menu-horizontal {
        > .ant-menu-item {
            border-bottom: 0;
            &:hover {
                @extend .ant-static-style
            }
        }
        > .ant-menu-item-active {
            @extend .ant-static-style
        }
    }
}

.#{$clsPrefix}-selected-icon {
    margin-right: $CAP_SPACE_08;
    display: flex;
    align-items: center;
    position: relative;
    height: $CAP_SPACE_32;
    width: $CAP_SPACE_32;
    .text-label {
      position: absolute;
      right: 50%;
      top: 50%;
      transform: translate(50%, -50%);
      line-height: 14px;
      font-size: $FONT_SIZE_L;
      font-weight: $FONT_WEIGHT_MEDIUM;
    }
}

.#{$clsPrefix}-secondary-menu {
    padding-left: $CAP_SPACE_24;
}