@import "../styles/_variables.scss";

$header: cap-header-v2;

.#{$header}-description {
  &.large {
    padding-top: $CAP_SPACE_08;
  }
  &.regular {
    padding-top: $CAP_SPACE_04;
  }
  .cap-header-v2-description {
    color: #97a0af;
    margin-bottom: 6px;
  }
}
