@import "../styles/_variables.scss";

$header: cap-header-v2;

.#{$header}-description {
  &.large {
    padding-top: $CAP_SPACE_08;
  }
  &.regular {
    padding-top: $CAP_SPACE_04;
    color: $FONT_COLOR_02;
  }
  &.small {
    padding-top: $CAP_SPACE_06;
    color: $FONT_COLOR_02;
  }
  color: $FONT_COLOR_03;
}
