@import "../styles/_variables.scss";

$header: cap-header-v2;

.#{$header}-description {
  &.large {
    padding-top: $CAP_SPACE_08;
  }
  &.regular {
    padding-top: $CAP_SPACE_04;
  }
  &.small {
    padding-top: $CAP_SPACE_06;
  }
  &.hidden.small {
    height: 14px;
  }
}
