@import "../styles/_variables.scss";

$multiSelect: cap-multi-tree-select-v2;

.#{$multiSelect}-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: $CAP_SPACE_08;
  height: $CAP_SPACE_40;
  border: 1px solid transparent;
  border-radius: 4px;
  border: 1px solid $CAP_G06;
  &:hover {
    border: 1px solid $CAP_G11;
  }
  &.open {
    border: 1px solid $CAP_G01;
  }
  &.disabled {
    border: 1px solid $CAP_G07;
    cursor: not-allowed;
  }
}

.#{$multiSelect}-left-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 70%;
  &.placeholder {
    color: $CAP_G04;
  }
  &.placeholder.disabled {
    color: $CAP_G06;
  }
}

.#{$multiSelect}-items-selected {
  line-height: 13px;
  margin-bottom: 3px;
  min-width: 74%;
  text-align: center;
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 1px solid rgb(234,33,58);
  border-radius: 30px;
  font-size: 10px;
  background: rgb(234, 33, 58);
  color: white;
  margin-left: 8px;
}

.ant-popover.#{$multiSelect}-popover.select-all-disabled {
  .select-all-tree {
    padding-top: 0;
    & > span:first-child,
    & > span:nth-child(2),
    & > span:nth-child(3) {
      display: none;
    }
    .ant-tree-child-tree {
      border-top: none;
    }
  }
}

.ant-popover.#{$multiSelect}-popover {
  padding-top: 0;
  .ant-popover-arrow {
    display: none;
  }
  .cancel-button {
    margin-left: $CAP_SPACE_08;
  }
  .close-icon {
    width: 20px;
    cursor: pointer;
  }
  .child-node.contains-info-icon > span:nth-child(3),
  .parent-contains-info-icon > span:nth-child(3) {
    max-width: 85%;
    width: 100%;
  }
  .ant-tree li {
    padding-top: $CAP_SPACE_16;
  }
  .select-all-tree {
    & > span:first-child {
      visibility: hidden;
    }
  }
  .options {
    display: flex;
    padding: $CAP_SPACE_08 $CAP_SPACE_08;
    justify-content: space-between;
  }
  .ant-tree {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: $CAP_SPACE_08;
    border-bottom: 1px solid #c2c2c2;
    li {
      padding-bottom: 0;
      .ant-tree-node-content-wrapper:hover {
        background-color: transparent;
      }
    }
  }
  .ant-popover-inner-content {
    padding: 0;
    padding-top: 1px;
    .search-input {
      .component-with-label {
        width: 100%;
      }
      margin: $CAP_SPACE_16 $CAP_SPACE_16 0 $CAP_SPACE_16;
      .ant-input-affix-wrapper .ant-input-prefix {
        left: 20px;
        .cap-icon-v2 {
          font-size: 16px !important;
        }
      }
      .ant-input {
        padding-left: 52px;
      }
    }
    .ant-input-affix-wrapper {
      height: 40px;
    }
    .clear-all {
      display: block;
      text-align: right;
      color: rgb(36, 102, 234);
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      padding: 0 24px 8px 0;
      span {
        cursor: pointer;
      }
    }
    .select-dropdown {
      margin: 16px;
    }
  }
  .showing-spinner {
    min-height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ant-tree li .ant-tree-node-content-wrapper:hover,
  .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background-color: transparent;
  }
  .ant-tree li .ant-tree-node-content-wrapper {
    cursor: default;
    width: -webkit-fill-available;
    padding-right: 48px;
  }
  .multi-select-title {
    display: flex;
    justify-content: space-between;
    .info-tooltip {
      margin-left: $CAP_SPACE_16;
      margin-right: $CAP_SPACE_08;
      cursor: pointer;
    }
    .multi-select-main-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .selected-text-for-parent {
      color: rgb(94, 108, 132);
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.#{$multiSelect}-no-results {
  display: flex;
  padding: 24px;
  justify-content: center;
  flex-direction: column;
  .#{$multiSelect}-no-results-text {
    margin-top: $CAP_SPACE_08;
    text-align: center;
    color: $CAP_G05;
    font-size: 12px;
  }
}
