@import "../styles/_variables.scss";

$carousel: cap-carousel-v2;

.#{$carousel}-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .switcher-icons {
    display: flex;
    margin-bottom: $CAP_SPACE_16;
    align-items: center;
    justify-content: space-between;
    max-width: 220px;
    width: 100%;
    align-self: center;
    .cap-icon-v2-chevron-left.disabled,
    .cap-icon-v2-chevron-right.disabled {
      cursor: not-allowed;
      color: $CAP_G06;
    }
  }
}
