@import "../styles/_variables.scss";

$tooltip: cap-tooltip-overlay-v2;

.ant-tooltip.#{$tooltip} {
  max-width: 324px;
  .ant-tooltip-inner {
    background-color: $FONT_COLOR_01;
    font-size: $FONT_SIZE_M;
    font-weight: $FONT_WEIGHT_MEDIUM;
  }
  &.cap-bgcolor-tooltip{
    .ant-tooltip-inner{
        background-color:$FONT_COLOR_05;
    }
  }
}

.button-disabled-tooltip-wrapper {
  display: inline-flex;
  cursor: not-allowed;
  .cap-button-v2.ant-btn[disabled] {
    pointer-events: none;
    &>* {
      pointer-events: auto;
      cursor: not-allowed;
    }
  }
}