@import "../styles/_variables.scss";

$tooltip: cap-tooltip-overlay-v2;

.ant-tooltip.#{$tooltip} {
  max-width: 324px;
  .ant-tooltip-inner {
    background-color: $FONT_COLOR_01;
    font-size: $FONT_SIZE_M;
    font-weight: $FONT_WEIGHT_MEDIUM;
  }
  &.cap-bgcolor-tooltip{
    .ant-tooltip-inner{
        background-color:$FONT_COLOR_05;
    }
  }
}

.ant-tooltip-open{
  display: inline-flex !important;
}

.ant-tooltip-open > button[disabled] {
  pointer-events: none;
  display: inline-table;
  vertical-align: top !important;
}

.ant-tooltip-open > button[disabled] > span{
  pointer-events: auto;
  cursor: not-allowed;
  display: table-cell;
}
