@import '../styles/_variables.scss';

$capTab : cap-tab-v2;

.ant-tabs.#{$capTab} {
    .ant-tabs-nav .ant-tabs-tab-active {
        color: $FONT_COLOR_01;
    }
    
    .ant-tabs-tab-active.ant-tabs-tab.ant-tabs-tab-disabled{
        cursor: not-allowed;
        color: rgba(0, 0, 0, 0.25);
        font-weight:0;
        
    }
    
    .ant-tabs-tab.ant-tabs-tab-disabled:hover{
        cursor: not-allowed;
        color: rgba(0, 0, 0, 0.25) !important;
        font-weight:0;
        
    }
    .ant-tabs-nav .ant-tabs-tab:hover {
        color: $FONT_COLOR_01;
        background-color: #faf9f4;
    }
    
    
    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
        
        color: $FONT_COLOR_01;
    }
    
    .ant-tabs-ink-bar.ant-tabs-ink-bar-animated{
        background-color:rgba(0, 0, 0, 0.25);
    }
}




