@import "../styles/_variables.scss";

$capTab: cap-tab-v2;

.ant-tabs.#{$capTab} {
  .ant-tabs-nav .ant-tabs-tab {
    margin: 0 0 0 0;
    font-weight: $FONT_WEIGHT_MEDIUM;
    color: $FONT_COLOR_02;
  }
  .ant-tabs-nav .ant-tabs-tab-active {
    color: $FONT_COLOR_01;
  }
  .ant-tabs-nav .ant-tabs-tab:hover {
    color: $FONT_COLOR_01;
    background-color: #faf9f4;
  }

  .ant-tabs-tab.ant-tabs-tab-disabled {
    &.ant-tabs-tab-active,
    &.ant-tabs-tab-active:hover {
      color: $FONT_COLOR_03;
    }
    color: $FONT_COLOR_04;
    &:hover {
      color: $FONT_COLOR_04;
      background-color: inherit;
    }
  }

  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
    color: $FONT_COLOR_01;
  }

  .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
    background-color: $CAP_G01;
  }
}
