@import "../styles/_variables.scss";

$cap-custom-card-list: cap-custom-card-list;
$cap-custom-card: cap-custom-card;

.ant-card.#{$cap-custom-card} {
  border-radius: 4px;
  display: inline-block;
  &.remove-border-radius{
    border-radius: unset;
  }
  .ant-card-head {
    border-bottom: none;
  }
  .ant-card-extra {
    padding: 0;
    line-height: 16px;
  }
  .ant-card-head-title {
    font-size: $FONT_SIZE_M;
    margin-right: $CAP_SPACE_08;
  }
  .ant-card-actions {
    display: flex;
    align-items: center;
    background-color: $CAP_WHITE;
    padding-left: $CAP_SPACE_12;
    padding-right: $CAP_SPACE_12;
    min-height: 49px;
    li {
      margin: $CAP_SPACE_04 0;
      border-right: none;
      float: none;
    }
  }
  .ant-card-actions > li > span {
    display: block;
    & > .anticon {
      font-size: $FONT_SIZE_VL;
    }
    &:hover {
      color: inherit;
    }
  }

  .ant-card-meta-description {
    font-size: $FONT_SIZE_S;
    color: #5e6c84;
  }
  .hover-content {
    display: none;
  }

  &.has-hover-option:hover {
    .ant-card-meta {
      opacity: 0.2;
    }
    .hover-content {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -40%);
    }
  }
}

.ant-card.#{$cap-custom-card}.SMS {
  .ant-card-body {
    padding-bottom: 0;
    padding-top: $CAP_SPACE_04;
    height: 129px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ant-card-body {
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
  }
}

.ant-card.#{$cap-custom-card}.CALL_TASK {
  .ant-card-body {
    padding-bottom: 0;
    padding-top: $CAP_SPACE_04;
    height: 129px;
  }
}

.ant-card.#{$cap-custom-card}.MOBILEPUSH, .ant-card.#{$cap-custom-card}.WECHAT {
  .ant-card-body {
    padding-bottom: 0;
    padding-top: $CAP_SPACE_04;
    padding-left: $CAP_SPACE_16;
    padding-right: $CAP_SPACE_16;
    background-color: $CAP_G09;
    height: 279px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    overflow: hidden;
    text-overflow: ellipsis;
    .app-name{
      font-size: $FONT_SIZE_S;
      padding-left: $CAP_SPACE_12;
      padding-top: $CAP_SPACE_04;
      background-color: $CAP_WHITE;
      margin-top: $CAP_SPACE_16;
    }
    .ant-card-meta {
      background-color: $CAP_WHITE;
      padding: $CAP_SPACE_12;
      border-radius: 6px;
    }
    .ios-action-buttons{
      margin-top: $CAP_SPACE_24;
      .ios-action-label{
        width: 100%;
        height: $CAP_SPACE_40;
        line-height: $CAP_SPACE_24;
        background-color: $CAP_WHITE;
        padding-top: $CAP_SPACE_12;
        text-align: center;
        &:first-child{
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          border-bottom: 1px solid $CAP_G07;
        }
        &:last-child{
          border-bottom-left-radius: 6px;
          border-bottom-right-radius: 6px;
        }
      }
    }
    .wechat-card-body {
      margin-top: $CAP_SPACE_12;
      margin-bottom: $CAP_SPACE_16;
      background-color: $CAP_WHITE;
      height: 247px;
      border-radius: $CAP_SPACE_04;
      .map-template {
        padding: $CAP_SPACE_12 $CAP_SPACE_16;
      }
      .richmedia-template {
        .richmedia-image-container {
          width: 100%;
          height: 136px;
          position: relative;
          img {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
          }
        }
        .name-container-with-abstract {
          padding: $CAP_SPACE_12;
          height: 68px;
        }
        .name-container {
          position: absolute;
          bottom: 0px;
          height: 44px;
          padding-top: 16px;
          padding-left: 12px;
          color: $CAP_WHITE;
          opacity: 0.7;
          width: 100%;
          background-image: linear-gradient(to top,black 0% ,transparent 100%);
        }
        .additional-richmedia-container {
          display: flex;
          justify-content: space-between;
          margin: 8px;
          padding-bottom: 8px;
          img {
            border-radius: 4px;
          }
        }
        .additional-richmedia-container:not(:last-child) {
          border-bottom: 1px solid #dfe2e7;
        }
        div {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }

  .ant-card-body {
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
  }
  .preview-overflow-wrap-fields {
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-wrap: break-word;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
    width: 200px;
  }
}

.facebook-card-body {

  .ant-skeleton-with-avatar {
    .ant-skeleton-content {
      .ant-skeleton-title {
        border-radius: 4px;
        margin-top: 4px;
      }
    }
  }

  .ant-skeleton-paragraph {
    margin-left: -$CAP_SPACE_52;

    li {
      border-radius: 4px;

      &:first-child {
        margin: -$CAP_SPACE_12 $CAP_SPACE_52 $CAP_SPACE_20;
      }
    }
  }

  .dynamic-content-section {
    width: 100%;
    padding: 30px 44px;
    background-color: $CAP_G09;
    margin-top: $CAP_SPACE_08;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    .centered-item {
      max-width: 130px;
      text-align: center;
    }
  }
}

.ant-card.#{$cap-custom-card}.EMAIL {
  &.no-image{
    .ant-card-body{
      padding-bottom: 0;
      padding-top: $CAP_SPACE_04;
      height: 129px;
      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 7;
      overflow: hidden;
      text-overflow: ellipsis;
    }  
  }
  }

.#{$cap-custom-card-list} {
  .ant-card.#{$cap-custom-card} {
    display: block;
  }
  .#{$cap-custom-card-list}-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    .#{$cap-custom-card-list}-col {
      margin-top: $CAP_SPACE_08;
      width: 276px;
      margin-right: 12px;
    }
  }
}
