@import "../styles/_variables.scss";

$cap-custom-card-list: cap-custom-card-list;
$cap-custom-card: cap-custom-card;

.ant-card.#{$cap-custom-card} {
  width: 278px;
  display: inline-block;
  .ant-card-head {
    height: 56px;
    border-bottom: 0px;
  }
  .ant-card-head-title {
    font-size: $FONT_SIZE_M;
  }
  .ant-card-body {
    min-height: 111px;
    position: relative;
    padding: 3px 16px 16px 16px;
  }
  .ant-card-actions {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    li {
      margin: 4px 0;
      border-right: none;
      float: none;
    }
  }
  .ant-card-actions > li > span > .anticon {
    font-size: 24px;
  }

  .ant-card-meta-description {
    font-size: 12px;
    color: #5e6c84;
  }
  .hover-content {
    display: none;
  }

  &.has-hover-option:hover {
    .ant-card-meta {
      opacity: 0.2;
    }
    .hover-content {
      display: block;
      position: absolute;
      top: 33%;
      left: 33%;
    }
  }
}

.#{$cap-custom-card-list} {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  .ant-card.#{$cap-custom-card} {
    margin: 6px;
  }
  &.Email {
    .ant-card-body {
      background-color: #f4f5f7;
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}
