@import "../styles/_variables.scss";

$cap-custom-card-list: cap-custom-card-list;
$cap-custom-card: cap-custom-card;

.ant-card.#{$cap-custom-card} {
  border-radius: 4px;
  display: inline-block;
  .ant-card-head {
    border-bottom: none;
  }
  .ant-card-extra {
    padding: 0;
    line-height: 16px;
  }
  .ant-card-head-title {
    font-size: $FONT_SIZE_M;
    margin-right: $CAP_SPACE_08;
  }
  .ant-card-actions {
    display: flex;
    align-items: center;
    background-color: $CAP_WHITE;
    padding-left: $CAP_SPACE_12;
    padding-right: $CAP_SPACE_12;
    min-height: 49px;
    li {
      margin: $CAP_SPACE_04 0;
      border-right: none;
      float: none;
    }
  }
  .ant-card-actions > li > span {
    display: block;
    & > .anticon {
      font-size: $FONT_SIZE_VL;
    }
    &:hover {
      color: inherit;
    }
  }

  .ant-card-meta-description {
    font-size: $FONT_SIZE_S;
    color: #5e6c84;
  }
  .hover-content {
    display: none;
  }

  &.has-hover-option:hover {
    .ant-card-meta {
      opacity: 0.2;
    }
    .hover-content {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -40%);
    }
  }
}

.ant-card.#{$cap-custom-card}.SMS {
  .ant-card-body {
    padding-bottom: 0;
    padding-top: $CAP_SPACE_04;
    height: 129px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ant-card-body {
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
  }
}
.ant-card.#{$cap-custom-card}.MOBILEPUSH {
  .ant-card-body {
    padding-bottom: 0;
    padding-top: $CAP_SPACE_04;
    padding-left: $CAP_SPACE_16;
    padding-right: $CAP_SPACE_16;
    background-color: $CAP_G09;
    height: 336px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    overflow: hidden;
    text-overflow: ellipsis;
    .app-name{
      font-size: $FONT_SIZE_S;
      padding-left: $CAP_SPACE_12;
      padding-top: $CAP_SPACE_04;
      background-color: $CAP_WHITE;
      margin-top: $CAP_SPACE_16;


    }
    .ant-card-meta {
      background-color: $CAP_WHITE;
      padding: $CAP_SPACE_12;
      border-radius: 6px;

    }
    .ios-action-buttons{
      margin-top: $CAP_SPACE_24;
      .ios-action-label{
        width: 100%;
        height: $CAP_SPACE_40;
        line-height: $CAP_SPACE_24;
        background-color: $CAP_WHITE;
        padding-top: $CAP_SPACE_12;
        text-align: center;
        &:first-child{
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
          border-bottom: 1px solid $CAP_G07;
        }
        &:last-child{
          border-bottom-left-radius: 6px;
          border-bottom-right-radius: 6px;
        }
        
        
      }
    }
  }

  .ant-card-body {
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
  }
}

.ant-card.#{$cap-custom-card}.Email {
  .ant-card-body {
    padding: 3px 16px 0 16px;
    background-color: #f4f5f7;
    padding-top: $CAP_SPACE_04;
    padding-bottom: $CAP_SPACE_04;
  }
  .ant-card-meta-description {
    display: flex;
    justify-content: center;
  }
}

.#{$cap-custom-card-list} {
  .ant-card.#{$cap-custom-card} {
    display: block;
  }
  .#{$cap-custom-card-list}-row {
    display: flex;
    flex-flow: row wrap;
<<<<<<< HEAD
    justify-content: center;
=======
    justify-content: start;
>>>>>>> ef2fe111fe978d827b6f303cd5c408a964678bee
    .#{$cap-custom-card-list}-col {
      margin-top: $CAP_SPACE_08;
      width: 276px;
      margin-right: 12px;
    }
  }
}
