@import "../styles/_variables.scss";

.cap-icon-v2 {
  &.disabled {
    cursor: not-allowed;
  }
}

.cap-icon-container {
  padding-right: 24px;
  height: 48px;
  width: 48px;
  background-color: $CAP_G07;
  background-size: cover;
  text-decoration: none;
  display: inline-block;
  border-radius: 18px;
  position: relative;
  .div-icon {
    position: absolute;
    top: 25%;
    left: 25%;
  }
}

.cap-icon-v2-avatar{
  margin-right: $CAP_SPACE_08;
  display: flex;
  align-items: center;
  position: relative;
  height: $CAP_SPACE_32;
  width: $CAP_SPACE_32;
  .text-label {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    line-height: 14px;
    font-size: $FONT_SIZE_L;
    font-weight: $FONT_WEIGHT_MEDIUM;
  }
}
