@import '../styles/_variables.scss';

.ant-btn.cap-button {
    color: $FONT_COLOR_01;
    font-weight: $FONT_WEIGHT_MEDIUM;
    font-size: $FONT_SIZE_M;
    &.ant-btn-primary {
        color: $FONT_COLOR_06;

        &:hover {
            background-color: map-get($CAP_PRIMARY, hover);
            border-color: map-get($CAP_PRIMARY, hover);
        }
        &[disabled] {
            background-color: map-get($CAP_PRIMARY, disabled);
            border-color: map-get($CAP_PRIMARY, disabled);

            &:hover {
                color: $FONT_COLOR_06;
            }
        }
    }

    &.secondary-btn {
        background-color: $CAP_G08;
        border-color: $CAP_G08;

        &:hover {
            background-color: $CAP_G07;
            border-color: $CAP_G07;
        }
        &[disabled] {
            background-color: $CAP_G09;
            border-color: $CAP_G09;
            color: $FONT_COLOR_04;
        }
    }

    &.ant-btn-dashed {
        color: $FONT_COLOR_02;
        background-color: $CAP_G10;
        border-color: $CAP_G06;

        &:hover {
            color: $FONT_COLOR_01;
            background-color: $CAP_G10;
            border-color: $CAP_G06;
        }
        &[disabled] {
            background-color: $CAP_G10;
            border-color: $CAP_G06;
            color: $FONT_COLOR_04;
        }
    }

    &.flat-btn {
        background-color: $CAP_WHITE;
        border-color: $CAP_WHITE;

        &:hover {
            background-color: $CAP_G09;
            border-color: $CAP_G09;
        }
        &[disabled] {
            background-color: $CAP_WHITE;
            border-color: $CAP_WHITE;
            color: $FONT_COLOR_04;
        }
    }
    
}