@import "../styles/_variables.scss";

$button: cap-button-v2;

.ant-btn.#{$button} {
  color: $FONT_COLOR_01;
  font-weight: $FONT_WEIGHT_MEDIUM;
  font-size: $FONT_SIZE_M;
  padding: 0 $CAP_SPACE_24;
  height: $CAP_SPACE_40;
  min-width: 80px;
  border: none;
  box-shadow: none;
  text-shadow: none;

  &.has-icon {
    display: inline-flex;
    align-items: center;
    padding: 0 $CAP_SPACE_12 0 $CAP_SPACE_08;
  }
  & > .#{$button}-prefix,
  .#{$button}-suffix {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & > .#{$button}-prefix + span,
  & > span + .#{$button}-suffix {
    margin-left: 4px;
  }

  &.ant-btn-primary {
    color: $FONT_COLOR_06;
    background-color: map-get($CAP_PRIMARY, base);
    border-color: map-get($CAP_PRIMARY, base);

    &:hover {
      background-color: map-get($CAP_PRIMARY, hover);
      border-color: map-get($CAP_PRIMARY, hover);
    }
    &[disabled] {
      background-color: map-get($CAP_PRIMARY, disabled);
      border-color: map-get($CAP_PRIMARY, disabled);

      &:hover {
        color: $FONT_COLOR_06;
      }
    }
  }

  &.ant-btn-secondary.secondary-btn {
    background-color: $CAP_G08;
    border-color: $CAP_G08;

    &:hover {
      background-color: $CAP_G07;
      border-color: $CAP_G07;
    }
    &[disabled] {
      background-color: $CAP_G09;
      border-color: $CAP_G09;
      color: $FONT_COLOR_04;
    }
  }

  &.ant-btn-dashed {
    color: $FONT_COLOR_02;
    background-color: $CAP_G10;
    border: 1px dashed $CAP_G06;
    &:hover {
      color: $FONT_COLOR_01;
      background-color: $CAP_G10;
      border-color: $CAP_G06;
    }
    &[disabled] {
      background-color: $CAP_G10;
      border-color: $CAP_G06;
      color: $FONT_COLOR_04;
    }
  }

  &.flat-btn {
    background-color: $CAP_WHITE;
    border-color: $CAP_WHITE;
    &.add-btn {
      color: $FONT_COLOR_05;
    }
    &:hover {
      background-color: $CAP_G09;
      border-color: $CAP_G09;
    }
    &[disabled] {
      background-color: $CAP_WHITE;
      border-color: $CAP_WHITE;
      color: $FONT_COLOR_04;
    }
  }
}
