@import '../styles/_variables.scss';


.cap-card{
  width: 276px;
  height: 344px;
  max-height: 344px;
}

.ant-card-cover{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ECECEC;
}

.ant-card-head{
  padding: 0 12px;
}