@import '../styles/_variables.scss';

.cap-card{
  width: 420px;
  border-radius: 4px;
  border: 0.5px solid $CAP_G07;
  .cap-card-title-icon{
    margin: $CAP_SPACE_20;
    display: inline-block;
  }
  .cap-card-title{
    font-size: $FONT_SIZE_M;
    font-weight: $FONT_WEIGHT_MEDIUM;
    display: inline-block;
    margin-top: $CAP_SPACE_20;
  }
  .cap-card-option{
    margin-top: $CAP_SPACE_20;
    margin-right: $CAP_SPACE_24;
  }
  .cap-card-content{
    font-size: $FONT_SIZE_S;
    margin-bottom: $CAP_SPACE_20;
  }
  .cap-card-option-icon{
    cursor: pointer;
    &:hover{
      box-shadow: 0 0 11px rgba(192, 151, 151, 0.2);
      background-color: $CAP_G09;
      border-radius: 50%;
    }
  }
}
.cap-card-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, 420px);
  grid-auto-rows: auto;
  grid-gap: $CAP_SPACE_12;
}
