.gutter-box {
    background: #47af46,;
    padding: 5px 0;
  }

  .height-100{
    background:#47af46;
    height: 100px;
  }

  .height-50{
    background:#47af46;
    height:50px;
  }

  .height-120{
    background:#47af46;
    height: 120px;
  }

  .height-80{
    background:#47af46;
    height:80px;
  }