@import "../styles/_variables.scss";


$radioButton:cap-radio-group-v2;
.ant-radio-group.#{$radioButton}{
    .ant-radio-checked .ant-radio-inner {
        background-color:map-get($CAP_PRIMARY, base);
    }
    
    .ant-radio-inner:after {
        background-color:$CAP_WHITE;
    
    }
}

.cap-radio-group{
  .cap-radio:not(:last-child){
    margin-right: 24px;
  }
}

.ant-radio-checked .ant-radio-inner {
    background-color:map-get($CAP_PRIMARY, base);
}

.ant-radio-inner:after {
    background-color:$CAP_WHITE;

}