@import "../styles/_variables.scss";

$cap-checkbox: cap-checkbox-v2;

.#{$cap-checkbox} {
  .title {
    padding-left: $CAP_SPACE_04;
  }
  .inductive-text {
    padding-left: $CAP_SPACE_28;
    padding-top: $CAP_SPACE_04;
  }
  .title.has-suffix {
    margin-right: 8px;
  }
  .ant-checkbox-wrapper-disabled {
    opacity: 0.5;
  }
  .ant-checkbox-inner {
    margin: $CAP_SPACE_04;
    width: $CAP_SPACE_20;
    height: $CAP_SPACE_20;
    border: 2px solid $FONT_COLOR_04;
  }
  .ant-checkbox-checked {
    .ant-checkbox-inner::after {
      left: 23%;
    }
  }
  
}
