@import "../styles/_variables.scss";

$accordian: cap-steps-accordian-v2;

.ant-collapse.#{$accordian} {
  .steps-icon {
    margin-right: $CAP_SPACE_16;
  }
  .numbers-icon {
    background-color: #dfe2e7;
    border-radius: 50%;
    width: $CAP_SPACE_28;
    height: $CAP_SPACE_28;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ant-collapse-content-active .ant-collapse-content-box {
    padding-left: 40px;
  }
  &.with-steps {
    .ant-collapse-content-active .ant-collapse-content-box {
      padding-left: 60px;
    }
  }
}
